env
env2
chrome_profile/*
profiles/*
chromeprofile/*
# z.py
__pycache__
brazzers_videos_details.csv
brazzers_videos.csv
videos/*
etc
downloads/*
db.sqlite3
.vscode
chrome
photos/*
*.sqlite3
**/__pycache__/**
*.pyc
/*/migrations/
/*/__pycache__