env
env2
chrome_profile/*
profiles/*
chromeprofile/*
# z.py
__pycache__
videos/*
etc
downloads/*
db.sqlite3
.vscode
chrome
photos/*
*.sqlite3
**/__pycache__/**
*.pyc
/*/migrations/*
**/migrations/**
!**/migrations
!**/migrations/__init__.py

/*/__pycache__
downloads copy
/*/management/commands/test.py
*.csv
csv