certifi==2023.7.22
charset-normalizer==3.3.0
idna==3.4
iso8601==2.1.0
m3u8==3.6.0
m3u8-To-MP4==0.1.11
numpy==1.26.0
packaging==23.2
pandas==2.1.1
pycryptodome==3.19.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
requests==2.31.0
selenium==3.14.0
selenium-stealth==1.0.6
six==1.16.0
tzdata==2023.3
urllib3==2.0.6
webdriver-manager==4.0.1
